BODY
{
    font-size: 9pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    color:#014F8A;
    background-color:#ffffff;

    overflow:auto;

    SCROLLBAR-FACE-COLOR: #ebf7fe;
    SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
    SCROLLBAR-SHADOW-COLOR: #2178a3;
    SCROLLBAR-3DLIGHT-COLOR: #2178a3;
    SCROLLBAR-ARROW-COLOR: #000000;
    SCROLLBAR-TRACK-COLOR: #d3d3d3;
    SCROLLBAR-DARKSHADOW-COLOR: #d3d3d3;
    SCROLLBAR-BASE-COLOR: #FFFFFF;
}

BODY.bdMsgPage
{
    font-size: 9pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    color:#014F8A;
    background-color:#EAF4FE;

    overflow:auto;

    SCROLLBAR-FACE-COLOR: #ebf7fe;
    SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
    SCROLLBAR-SHADOW-COLOR: #2178a3;
    SCROLLBAR-3DLIGHT-COLOR: #2178a3;
    SCROLLBAR-ARROW-COLOR: #000000;
    SCROLLBAR-TRACK-COLOR: #d3d3d3;
    SCROLLBAR-DARKSHADOW-COLOR: #d3d3d3;
    SCROLLBAR-BASE-COLOR: #FFFFFF;
}

BODY.bdExplain
{
    font-size: 9pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:#fbfffa;
    /*color:#057405;	*/
    color:#1D6402;
}

table {
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-variant: normal;
    font-style: normal;
    color: -webkit-text;
    text-align: left;
    text-align: start;
    *text-align: left;
}

TABLE
{
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

TABLE.tbMain
{
    width: 98%;
    align: center;
    margin:0 auto;
}

TABLE.tbTitle
{
    width: 100%;
}

TABLE.tbBlock
{
    width: 100%;
    background-color: #9FD6FF;
}

TABLE.tbPanel
{
    width: 100%;
    height: 24px;
}

TABLE.tbPanelContent
{
    height: 24px;
}

TABLE.tbAgreement
{
    width: 100%;
    /*height: 200px;*/
    background-color: #9FD6FF;
}

TABLE.tbExplain
{
    width: 100%;
    /*height: 200px;*/
    background-color: #97E490;
}

TABLE.tbMsgPage
{
    width: 500px;
    height: 200px;
    background-color: #9FD6FF;
}

TABLE.tbCommon
{
    width: 100%;
}

TABLE.tbCommonColor
{
    width: 100%;
    background-color: #f2f9ff;
}

TD.tdCommonTop
{
    align:left;
    vertical-align:top;
}

TD.tdCommonMid
{
    align:left;
    vertical-align:middle;
}

TD.tdCommonBtm
{
    align:left;
    vertical-align:bottom;
}

TD.tdCommonTopColor
{
    align:left;
    vertical-align: top;
    background-color: #f2f9ff;
}

TD.tdCommonMidColor
{
    align:left;
    vertical-align: middle;
    background-color: #f2f9ff;
}

TD.tdCommonBtmColor
{
    align:left;
    vertical-align: bottom;
    background-color: #f2f9ff;
}

TD.tdTitle1
{
    width: 50%;
    height: 24px;
    background-attachment: scroll;
    background-image: url(../images/title_01.gif);
    background-repeat: repeat;
    background-position: left center;
    text-align:left;
    color: #014F8A;
}

TD.tdTitle2
{
    height: 24px;
    background-attachment: scroll;
    background-image: url(../images/title_02.gif);
    background-repeat: repeat;
    background-position: center;
}

TD.tdTitle3
{
    width: 40%;
    height: 24px;
    background-attachment: scroll;
    background-image: url(../images/title_03.gif);
    background-repeat: repeat;
    background-position: right center;
    text-align:right;
    color: #C60001;
}

TD.tdLeftH20
{
    height: 20px;
    text-align: left;
    background-color: #f2f9ff;
}

TD.tdLeftH30
{
    height: 30px;
    text-align: left;
    background-color: #f2f9ff;
}

TD.tdLeftH40
{
    height: 40px;
    text-align: left;
    background-color: #f2f9ff;
}

TD.tdCenterH20
{
    height: 20px;
    text-align: center;
    background-color: #f2f9ff;
}

TD.tdCenterH30
{
    height: 30px;
    text-align: center;
    background-color: #f2f9ff;
}

TD.tdCenterH40
{
    height: 40px;
    text-align: center;
    background-color: #f2f9ff;
}

TD.tdRightH20
{
    height: 20px;
    text-align: right;
    background-color: #f2f9ff;
}

TD.tdRightH30
{
    height: 30px;
    text-align: right;
    background-color: #f2f9ff;
}

TD.tdRightH40
{
    height: 40px;
    text-align: right;
    background-color: #f2f9ff;
}

TD.tdLeftW15H20
{
    width:15%;
    height: 20px;
    text-align: left;
    background-color: #f2f9ff;
}

TD.tdLeftW15H30
{
    width:15%;
    height: 30px;
    text-align: left;
    background-color: #f2f9ff;
}

TD.tdLeftW15H40
{
    width:15%;
    height: 40px;
    text-align: left;
    background-color: #f2f9ff;
}

TD.tdLeftW20H20
{
    width:20%;
    height: 20px;
    text-align: left;
    background-color: #f2f9ff;
}

TD.tdLeftW20H30
{
    width:20%;
    height: 30px;
    text-align: left;
    background-color: #f2f9ff;
}

TD.tdLeftW25H30
{
    width:25%;
    height: 30px;
    text-align: left;
    background-color: #f2f9ff;
}

TD.tdLeftW20H40
{
    width:20%;
    height: 40px;
    text-align: left;
    background-color: #f2f9ff;
}

TD.tdLeftW30H20
{
    width:30%;
    height: 20px;
    text-align: left;
    background-color: #f2f9ff;
}

TD.tdLeftW30H30
{
    width:30%;
    height: 30px;
    text-align: left;
    background-color: #f2f9ff;
}

TD.tdLeftW30H40
{
    width:30%;
    height: 40px;
    text-align: left;
    background-color: #f2f9ff;
}

TD.tdLeftW50H20
{
    width:50%;
    height: 20px;
    text-align: left;
    background-color: #f2f9ff;
}

TD.tdLeftW50H30
{
    width:50%;
    height: 30px;
    text-align: left;
    background-color: #f2f9ff;
}

TD.tdLeftW50H40
{
    width:50%;
    height: 40px;
    text-align: left;
    background-color: #f2f9ff;
}

TD.tdCenterW15H20
{
    width:15%;
    height: 20px;
    text-align: center;
    background-color: #f2f9ff;
}

TD.tdCenterW15H30
{
    width:15%;
    height: 30px;
    text-align: center;
    background-color: #f2f9ff;
}

TD.tdCenterW15H40
{
    width:15%;
    height: 40px;
    text-align: center;
    background-color: #f2f9ff;
}

TD.tdCenterW20H20
{
    width:20%;
    height: 20px;
    text-align: center;
    background-color: #f2f9ff;
}

TD.tdCenterW20H30
{
    width:20%;
    height: 30px;
    text-align: center;
    background-color: #f2f9ff;
}

TD.tdCenterW20H40
{
    width:20%;
    height: 40px;
    text-align: center;
    background-color: #f2f9ff;
}

TD.tdCenterW30H20
{
    width:30%;
    height: 20px;
    text-align: center;
    background-color: #f2f9ff;
}

TD.tdCenterW30H30
{
    width:30%;
    height: 30px;
    text-align: center;
    background-color: #f2f9ff;
}

TD.tdCenterW30H40
{
    width:30%;
    height: 40px;
    text-align: center;
    background-color: #f2f9ff;
}

TD.tdCenterW50H20
{
    width:50%;
    height: 20px;
    text-align: center;
    background-color: #f2f9ff;
}

TD.tdCenterW50H30
{
    width:50%;
    height: 30px;
    text-align: center;
    background-color: #f2f9ff;
}

TD.tdCenterW50H40
{
    width:50%;
    height: 40px;
    text-align: center;
    background-color: #f2f9ff;
}

TD.tdRightW15H20
{
    width:15%;
    height: 20px;
    text-align: right;
    background-color: #f2f9ff;
}

TD.tdRightW15H30
{
    width:15%;
    height: 30px;
    text-align: right;
    background-color: #f2f9ff;
}

TD.tdRightW15H40
{
    width:15%;
    height: 40px;
    text-align: right;
    background-color: #f2f9ff;
}

TD.tdRightW20H20
{
    width:20%;
    height: 20px;
    text-align: right;
    background-color: #f2f9ff;
}

TD.tdRightW20H30
{
    width:20%;
    height: 30px;
    text-align: right;
    background-color: #f2f9ff;
}

TD.tdRightW20H40
{
    width:20%;
    height: 40px;
    text-align: right;
    background-color: #f2f9ff;
}

TD.tdRightW30H20
{
    width:30%;
    height: 20px;
    text-align: right;
    background-color: #f2f9ff;
}

TD.tdRightW30H30
{
    width:30%;
    height: 30px;
    text-align: right;
    background-color: #f2f9ff;
}

TD.tdRightW30H40
{
    width:30%;
    height: 40px;
    text-align: right;
    background-color: #f2f9ff;
}

TD.tdRightW50H20
{
    width:50%;
    height: 20px;
    text-align: right;
    background-color: #f2f9ff;
}

TD.tdRightW50H30
{
    width:50%;
    height: 30px;
    text-align: right;
    background-color: #f2f9ff;
}

TD.tdRightW50H40
{
    width:50%;
    height: 40px;
    text-align: right;
    background-color: #f2f9ff;
}

TD.tdPanelContent
{
    height:24px;
    align:left;
}

TD.tdPanelHead
{
    width:100px;
    height:24px;
    background-image:url(../images/panel_005.gif);
    background-attachment: scroll;
    background-repeat: repeat-x;
    background-position: left top;
}

TD.tdPanelSpace
{
    width:50px;
    height:24px;
    background-image:url(../images/panel_005.gif);
    background-attachment: scroll;
    background-repeat: repeat-x;
    background-position: left top;
}

TD.tdPanelSpaceW20
{
    width:20px;
    height:24px;
    background-image:url(../images/panel_005.gif);
    background-attachment: scroll;
    background-repeat: repeat;
    background-position: center;
}

TD.tdPanelTrail
{
    width:100%;
    height:24px;
    background-image:url(../images/panel_005.gif);
    background-attachment: scroll;
    background-repeat:repeat-x;
    background-position: right top;
}

TD.tdPanelSel
{
    width:100px;
    height:24px;
    align:center;
    text-align:center;
    background-repeat: no-repeat;
    background-image:url(../images/panel_001.gif);
}

TD.tdPanelNoSel
{
    width:100px;
    height:24px;
    align:center;
    text-align:center;
    background-repeat: no-repeat;
    background-image:url(../images/panel_002.gif);
}

TD.tdRelPanelSel
{
    width:100px;
    height:24px;
    align:center;
    text-align:center;
    background-repeat: no-repeat;
    background-image:url(../images/panel_003.gif);
}

TD.tdRelPanelNoSel
{
    width:100px;
    height:24px;
    align:center;
    text-align:center;
    background-repeat: no-repeat;
    background-image:url(../images/panel_004.gif);
}

TD.tdRelFuncTransQuery
{
    width:74px;
    height:24px;
    align:center;
    text-align:center;
    background-image:url(../images/panel_TransQuery.gif);
    cursor:pointer;
}

TD.tdRelFuncPwdManager
{
    width:74px;
    height:24px;
    align:center;
    text-align:center;
    background-image:url(../images/panel_PwdManager.gif);
    cursor:pointer;
}

TD.tdRelFuncReportLoss
{
    width:74px;
    height:24px;
    align:center;
    text-align:center;
    background-image:url(../images/panel_ReportLoss.gif);
    cursor:pointer;
}

TD.tdRelFuncFreezeNetBankAcc
{
    width:74px;
    height:24px;
    align:center;
    text-align:center;
    background-image:url(../images/panel_FreezeNetBankAcc.gif);
    cursor:pointer;
}

TD.tdRelFuncInvestFS
{
    width:74px;
    height:24px;
    align:center;
    text-align:center;
    background-image:url(../images/panel_InvestFS.gif);
    cursor:pointer;
}

TD.tdRelFuncInvestFC
{
    width:74px;
    height:24px;
    align:center;
    text-align:center;
    background-image:url(../images/panel_InvestFC.gif);
    cursor:pointer;
}

TD.tdRelFuncApplyMainCard
{
    width:84px;
    height:24px;
    align:center;
    text-align:center;
    background-image:url(../images/panel_ApplyMainCard.gif);
    cursor:pointer;
}

TD.tdRelFuncApplyAffiliatedCard
{
    width:84px;
    height:24px;
    align:center;
    text-align:center;
    background-image:url(../images/panel_ApplyAffiliatedCard.gif);
    cursor:pointer;
}

TD.tdSpace
{
    width:100%;
    height: 6px;
    background-color: #ffffff;
}

TD.tdSpaceH12
{
    width:100%;
    height: 12px;
    background-color: #ffffff;
}

TD.tdSpaceColor
{
    width:100%;
    height: 6px;
    background-color: #f2f9ff;
}

TD.tdSpaceH12Color
{
    width:100%;
    height: 12px;
    background-color: #f2f9ff;
}

TD.tdPrompt
{
    width: 100%;
    height: 27px;
    background-attachment:scroll;
    background-image: url(../images/bg_001.gif);
    background-repeat: repeat;
    background-position: left center;
    text-align:left;
    color: #014F8A;
}

TD.tdExplain
{
    width:100%;
    /*height: 200px;*/
    height:100%;
    background-color: #ffffff;
}

TD.tdAgreement
{
    width:100%;
    /*height: 200px;*/
    background-color: #ffffff;
}

INPUT
{
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

input[type=text] {
    height:24px;
    line-height:24px;
}

INPUT.input1
{
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    height: 22px;
}

INPUT.input2				/*FlatInput*/
{
    font-size: 9pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-right: #666666 1px solid;
    border-top: #666666 1px solid;
    border-left: #666666 1px solid;
    border-bottom: #666666 1px solid;
    height: 20px;
}

SELECT
{
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 160px;
}

OPTION
{

}

BUTTON
{
    cursor:pointer;
}

BUTTON.btn1	/*FlatBtn*/
{
    border-right: #ff9702 1px solid;
    border-top: white 1px solid;
    border-left: white 1px solid;
    border-bottom: #ff9702 1px solid;
    background-color: #efebef;
}

TBODY
{

}

TEXTAREA
{

}

DIV
{

}

IMG
{
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    vertical-align:top;
}

A:link
{
    text-decoration: none;
    color:blue
}

A:visited
{
    text-decoration: none;
    color:blue
}

A:active
{
    text-decoration: none;
    color:red
}

A:hover
{
    text-decoration: none;
    color:red
}


MENU.menustyle
{
    background-color:white;
    border:1px;
    border-style:solid;
    border-color:Gray;
}

MENU.menuitem
{
    background-color:white;
    font-family:verdana;
    font-size:12px;
    border:1px;
    border-style:solid;
    border-color:white;
    padding:2px;
    padding-left:5px;
    padding-right:15px;
    /*cursor:pointer;*/
    cursor:pointer;
}

MENU.mouseover
{
    background-color:silver;
    color:black;
    font-family:verdana;
    font-size:12px;
    border:1px;
    border-style:solid;
    border-color:
            Gray;padding:2px;
    padding-left:5px;
    padding-right:15px;
    /*cursor:pointer;*/
    cursor:pointer;
}

.dgMain
{
    width:100%;
    background-color: White;
    color:#014F8A;
}

.dgMain TD
{
    border:solid 1px #9FD6FF;
}

.dgHeader
{
    background-image:url(../images/title_04.gif);
    background-color: #F2F9FF;
    color:#014F8A;
}

.dgFooter
{
    background-color: #F2F9FF;
    color:#014F8A;
}

.dgAlternatingItem
{
    background-color: #F2F9FF;
    color:#014F8A;
}

IFRAME.ifExplain
{
    width:100%;
}

A.lkPanelSel:link
{
    /*text-decoration: none;*/
    color:white;
    font-weight:bold;

}

A.lkPanelSel:visited
{
    /*text-decoration: none;*/
    color:white;
    font-weight:bold;
}

A.lkPanelSel:active
{
    text-decoration: none;
    color:red
}

A.lkPanelSel:hover
{
    text-decoration: none;
    color:red
}

A.lkPanelNoSel:link
{
    text-decoration: none;
    color:#014F8A
}

A.lkPanelNoSel:visited
{
    text-decoration: none;
    color:#014F8A
}

A.lkPanelNoSel:active
{
    text-decoration: none;
    color:red
}

A.lkPanelNoSel:hover
{
    text-decoration: none;
    color:red
}

a.lkCreditDescript:link
{
    COLOR: #3184D7;
    TEXT-DECORATION: none;
}

a.lkCreditDescript:visited
{
    COLOR: #3184D7;
    TEXT-DECORATION: none;
}

a.lkCreditDescript:active
{
    COLOR: #3184D7;
    TEXT-DECORATION: none;
}

a.lkCreditDescript:hover
{
    COLOR: #3184D7;
    TEXT-DECORATION: underline;
}

.wcLabel
{
    /*color:#00008b;*/
    color:#585858;
}

.wcLabelRed
{
    color:Red;
}

input
{
    behavior: url(../doc/Scripts/button.htc);
}

.btn
{
    background-color: aliceblue;
    background-image:url(../images/bg_btn2.gif);
    background-size:100% 100%;
    border: #8496CE 0px solid;
    color: #5A6DA5;
    height: 21px;
    width: 56px;
    cursor: pointer;
    text-indent:-2px;

}

.btn:disabled
{
    color:#AAAAAA;
}

.btnOver
{
    background-color: #B49B83;
    background-image:url(../images/bg_btn1.gif);
    border: #8496CE 0px solid;
    color: #203E94;
    height: 21px;
    width: 56px;
    cursor: pointer;
    text-indent:-3px;
}
.btnlong
{
    background-color: aliceblue;
    background-image:url(../images/bg_btn3.gif);
    border: #8496CE 0px solid;
    color: #5A6DA5;
    height: 21px;
    width: 120px;
    cursor: pointer;
}

.btn2
{
    background-color: aliceblue;
    background-image:url(../images/bg_btn3.gif);
    border: #8496CE 0px solid;
    color: #5A6DA5;
    height: 21px;
    width: 120px;
    cursor: pointer;
}

TD.tdMsgPageLeft
{
    width: 20%;
    background-attachment: scroll;
    background-position:top center;
    background-repeat:no-repeat;
    background-color: #DAEAFB;
}

TD.tdMsgPageCenter
{
    align:center;
    vertical-align:top;
    background-color: #DAEAFB;
}

TD.tdMsgPageRight
{
    width: 10%;
    background-color: #DAEAFB;
}

TD.tdMsgPageCenter1
{
    height: 50px;
    text-align:center;
    background-color: #DAEAFB;
}

TD.tdMsgPageCenter2
{
    height: 100px;
    text-align:left;
    vertical-align:text-top;
    background-color: #DAEAFB;
}

TD.tdMsgPageCenter3
{
    height: 50px;
    align:center;
    text-align:center;
    background-color: #DAEAFB;
}

.btn:hover
{
    background-color: #B49B83;
    background-image:url(../images/bg_btn1.gif);
    background-size:100% 100%;
    border: #8496CE 0px solid;
    color: #203E94;
    height: 21px;
    width: 56px;
    cursor: pointer;
    text-indent:-2px;

}
.btn2:hover
{
    background-color: #B49B83;
    background-image:url(../images/bg_btn4.gif);border: #8496CE 0px solid;
    color: #203E94;
    height: 21px;
    width: 120px;
    cursor: pointer;
}
.btnOver2
{
    background-color: #B49B83;
    background-image:url(../images/bg_btn4.gif);
    border: #8496CE 0px solid;
    color: #203E94;
    height: 21px;
    width: 120px;
    cursor: pointer;
}
.btnlong:hover
{
    background-color: #B49B83;
    background-image:url(../images/bg_btn4.gif);
    border: #8496CE 0px solid;
    color: #203E94;
    height: 21px;
    width: 120px;
    cursor: pointer;
}


.tip
{
    border:2px solid #94CFF3;
    width:220px;
    position:absolute;
    left:345px;
    top:10px;
    z-index:10;
    padding: 5px 10px 15px 5px;
    background:#FFFFFF;
}
.tip .ulTip
{
    list-style-type:none;
    /*padding-left:0;
    list-style-image:url(../Images/tooltip01.gif);*/
    margin:0 0 0 0;
}
.tip .ulTip li
{
    background:url(../Images/tooltip01.gif) 0px 0px no-repeat;
    padding-left:25px;
    line-height:150%;
}
.alarm
{
    margin-left: 10px;
}
.alarm .font
{
    margin-left: 5px;
    height: 17px;
    line-height: 17px;
    color: Red;
    margin-bottom: 4px;
}
.star
{
    color: Red;
    margin-right: 5px;
}
/*广告*/
TABLE.tbAdv
{
    width: 100%;
    height:99px;
    padding:expression(this.cellPadding="2px");
    border-collapse:separate;
    border-spacing:expression(this.cellSpacing="1px");
    background-color: #BABABA;
    border:0px;

}
IFRAME.ifAdv
{
    width:100%;
    height:93px;
    background-color:#FFFFFF;
}
TD.tdAdv
{
    width:100%;
    background-color: #ffffff;
}

@media print
{
    .noprint {display:none}
}

.search_input_div1 {
    BORDER-LEFT: #6a8aae 1px solid;
    BORDER-TOP: #6a8aae 1px solid;
    BORDER-BOTTOM: #6a8aae 1px solid;
    BORDER-RIGHT: #6a8aae 1px solid;
    PADDING-RIGHT: 0px;
    /*PADDING-LEFT: 2px;*/
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    POSITION: relative;
}
.search_input_div2 {
    background: url(../Images/dropbg.GIF)  repeat-x;
    RIGHT: 4px;
    WIDTH: 16px;
    CURSOR: default;
    PADDING-TOP: 0px;
    POSITION: absolute;
    TOP: 3px;
    HEIGHT: 20px
}
.search_input_div3 {
    BORDER-LEFT: #6a8aae 1px solid;
    BORDER-TOP: #6a8aae 1px solid;
    BORDER-BOTTOM: #6a8aae 1px solid;
    BORDER-RIGHT: #6a8aae 1px solid;
    PADDING-RIGHT: 0px;
    /*PADDING-LEFT: 2px; */
    FLOAT: left;
    PADDING-BOTTOM: 2px;
    height: 166px;
    width:100%;
    overflow:auto;
    PADDING-TOP: 0px;
    position: absolute;
    /*left:10px;*/
    /*top:10;*/
    background:#ffffff;
    z-index:999;
    margin-top:30px;
    margin-left:-1px;

}
.search_input_div4 {
    BORDER-LEFT: #6a8aae 1px solid;
    BORDER-TOP: #6a8aae 1px solid;
    BORDER-BOTTOM: #6a8aae 1px solid;
    BORDER-RIGHT: #6a8aae 1px solid;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    height: 198px;
    overflow:hidden;
    PADDING-TOP: 0px;
    position: absolute;
    /*left:10px;*/
    /*top:10;*/
    background:#ffffff;
    z-index:900;

}
.search_input_div5 {
    BORDER-LEFT: #6a8aae 1px solid;
    BORDER-TOP: #6a8aae 1px solid;
    BORDER-BOTTOM: #6a8aae 1px solid;
    BORDER-RIGHT: #6a8aae 1px solid;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    height: 30px;
    width:100%;
    overflow:hidden;
    PADDING-TOP: 0px;
    position: absolute;
    /*left:10px;*/
    /*top:10;*/
    background:#ffffff;
    z-index:999;
    margin-left:-1px;

}
.search_input_input {
    BORDER-RIGHT: #fff 0px solid;
    BORDER-TOP: #fff 0px solid;
    BORDER-BOTTOM: #fff 0px solid;
    BORDER-LEFT: #fff 0px solid;
    HEIGHT: 20px;
    FONT-SIZE: 13px;
    PADDING-TOP: 4px;
    padding-left:2px;
}

.search_input_over {background-color: #66aadd; width:100%;cursor: default; }
.search_input_out  { width:100%;cursor: default; }
.search_input_td { width:100%;}
.search_input_table {
    border:0px solid #397ccb;
    WIDTH:100%;  BACKGROUND-COLOR: #fffff;
}
